.partners__bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.partners__holder {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner {
  margin: 0 10px;
  width: 160px;
  height: 160px;
  background-color: gray;
}
@media (max-width: 1024px) {
  .partners__holder {
    height: 100%;

    left: 50%;
  
  }
}
@media (max-width: 768px) {
  .partners__holder {
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-53%);
  }
}
