@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Open+Sans+Condensed:wght@300&family=Quicksand&family=Roboto:wght@300;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=:wght@300&family=Yanone+Kaffeesatz:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Hind Siliguri", sans-serif;
  /* font-family: "Open Sans Condensed", sans-serif; */
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}

/* fr react-scroll active class */
ul li > .active {
  text-decoration: underline;
}
section {
  position: relative;
  /* top: 0; */
  margin: 0 0 0 172px;
  /* padding: 16px; */
  /* height: 100%; */
  /* width: 100vw; */
  background-color: #1a163b;
}
@media (max-width: 768px) {
  section {
    margin-left: 0;
    /* padding: 2rem; */
  }
}
